{%  extends './layouts/base.html' %}

{% block title %}
    Uber | A propos
{% endblock %}


{% block content %}
    <h1>Nous sommes mondialement connu pour la qualité de nos services qui sont:</h1>
    <ol>
        <li>
            UBER EATS
            <ul>
                <li>Livraison de nourriture</li>
                <li>Livraison d'epicerie</li>
                <li>Course partagée</li>
            </ul>
        </li>
        <li>
            UBER DRIVE
            <ul>
                <li>UBER X</li>
                <li>UBER SHARE</li>
                <li>UBER CONFORT</li>
            </ul>
        </li>
    </ol>
{% endblock %}